.contactCont {
  margin: 0 auto;
  margin-top: 102px;
  width: 90vw;
  max-width: 1350px;
  padding-top: 50px;
  padding-bottom: 70px;
}
.contactGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.cText {
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 20.5px;
    color: #000;
  }
}
.cInfo {
  margin-top: 70px;
  p {
    font-size: 17px;
    display: flex;
    align-items: center;
    color: #000;
    &:nth-child(1) {
      max-width: 50%;
    }
    &:nth-child(2) {
      margin: 20px 0;
    }
    span {
      margin-right: 12px;
      img {
        max-width: none;
      }
    }
  }
}
.cGrid2 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 85%;
  z-index: 1;
  input,
  textarea {
    padding: 20px 15px;
    border: 2px solid #fcb002;
    border-radius: 10px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
  }
}
.input1 {
  position: relative;
  &::after {
    content: url("../assets/user.png");
    position: absolute;
    top: 50%;
    width: 15px;
    right: 24px;
    transform: translateY(-50%);
  }
}
.input2 {
  margin: 40px 0;
  position: relative;
  &::after {
    content: url("../assets/email 1.png");
    position: absolute;
    top: 50%;
    width: 15px;
    right: 24px;
    transform: translateY(-50%);
    opacity: 0.5;
  }
}
.input3 {
  position: relative;
  &::after {
    content: url("../assets/email 2.png");
    position: absolute;
    top: 25px;
    max-width: 15px;
    right: 24px;
  }
}
*::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.contactSocial {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.072);
    padding: 20px 13px;
    transition: all 0.3s;
    &:hover {
      box-shadow: 1px 1px 59px -8px #fcb10279;
      border-color: #fff;
    }
    span {
      margin-right: 20px;
      img {
        max-width: none;
      }
    }
  }
}
.contact-btn {
  outline: none;
  border: none;
  padding: 15px 20px;
  background: #fcb002;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  cursor: pointer;
  align-items: center;
  color: #fff;
  width: fit-content;
  margin-top: 30px;
  svg {
    margin-left: 8px;
    width: 100%;
    height: 100%;
    width: 20px;
    fill: #fff;
  }
}
.newsCont {
  background-color: #fcb002;
  padding-top: 70px;
  padding-bottom: 70px;
}
.news {
  width: 90vw;
  max-width: 1350px;
  margin: 0 auto;
  h2 {
    color: #fff;
    max-width: 40%;
  }
  p {
    color: #fff;
    max-width: 40%;
    margin: 20px 0;
  }
  .inputEmail,
  .inputTel {
    padding: 20px 14px;
    border-radius: 5px;
    border: 0;
    width: 300px;
  }
  .contact-btn {
    background-color: #fff;
    color: #fcb002;
    margin-top: 20px;
    svg {
      fill: #fcb002;
    }
  }
}
.inputTel {
  margin-left: 20px;
}
.kk {
  margin-top: 20px;
  input {
    cursor: pointer;
    margin-right: 10px;
  }
  label {
    color: #fff;
  }
}
